i3ipc==2.2.1
psutil==5.9.0
pyalsaaudio==0.9.2
pycairo==1.21.0
pydbus==0.6.0
pygi==1.0.3
PyGObject==3.42.1
python-xlib==0.31
pytweening==1.0.4
pyxdg==0.28
requests==2.27.1
sounddevice==0.4.4
urllib3==1.26.9
